# Track large geospatial files
*.geojson filter=lfs diff=lfs merge=lfs -text
*.gpkg    filter=lfs diff=lfs merge=lfs -text

# Track large tabular data files
*.csv     filter=lfs diff=lfs merge=lfs -text
*.xlsx    filter=lfs diff=lfs merge=lfs -text
*.RDS     filter=lfs diff=lfs merge=lfs -text
